@font-face {
	font-family: 'gruphabit';
	src:url('../icoms/gruphabit.eot?-x46hkt');
	src:url('../icoms/gruphabit.eot?#iefix-x46hkt') format('embedded-opentype'),
		url('../icoms/gruphabit.woff?-x46hkt') format('woff'),
		url('../icoms/gruphabit.ttf?-x46hkt') format('truetype'),
		url('../icoms/gruphabit.svg?-x46hkt#gruphabit') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gruphabit';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
	content: "\e025";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*{
	padding: 0;
	margin: 0;
}
body{
	padding-top: 85px; 
}
a{
	text-decoration: none;
	list-style: none;
	color: #fff;
	padding: ;
}
a:-webkit-any-link{
	color: webkit-link;
	text-decoration: none;
	cursor: auto;
}
div{
	display: block;
}
div .post-contenido p{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: justify;
	/*border-style: outset; border-width: 1px;*/
	border-bottom: 2px solid #CCC;
/*	-webkit-text-stroke: 0.3px black; 
	color: white; */
}
footer{
	background-color: #339966;
}
h1{
	color: #fff;
	margin-top: 0.5em;
}
h3{
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
header{
	padding: 0.3em;
	padding-left: 3em;
	padding-right: 3em;
	background-color: #00CC66;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header figure
{
	float: left;
}
header #logo{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
}
header #logo img
{
	/*-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);*/
	/*-webkit-transition:.5s;*/
	transition:.5s;
	width: 80px;
}
header #logo img:hover{
	/*-webkit-transform: rotate(360deg);*/
	transform: rotate(360deg);
}
html{
	text-size-adjust: 100%;
}
header li a{
	color:#94E9BF;
	padding: .3em;
	transition:color .3s linear;
}
header li a:hover{
	color:#fff;
}
li{
	float: left;
	margin-left: 1em;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition:.3s;
}
ul{
	text-decoration: none;
	list-style: none;
}
#contenido{
	border-style: none;
}
#div_logo{
	float: left;
	width: 50%;
}
#div_menu{
	margin-left: 50%;
	width: 50%;
	height: 50px;
	padding-top: 1em;
}
/*#div_social{
	font-size: 30px;
	text-align: center;
	margin-top: .5em;
	padding-right: 3em;
}*/
#tras{
	display: block;
	animation: fadein 3s;
	
}
.caja-interna{
	padding: 0 20px;
}
.colaboradores{
	background: none;
	padding: 25px 0 60px;
}
.colaboradores .logotipos{
	text-align: center;
}
.colaboradores .logotipos a{
	padding: 0 10px 0 0;
}
.contenedor{
	max-width: 1000px;
	margin: 0 auto;
}
.contenedor .proveedor{
/*	-webkit-text-stroke: 0.5px black;  */
	color: black;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.fcontenido .social{
	color: #fff;
	vertical-align: middle;
}
.footer{
	vertical-align: middle;
	text-align: center;
	padding: 20px;
}
.logotipos{
	s
}
.post{
	background: none;
	color: #515151;
}
.post-cajon{
	margin: 0 auto;
	max-width: 800px;
/*	background-color: white;  */
}
.post-contenido{
	font-family: 'Crimson Text',serif;
	font-size: 26px;
	letter-spacing: .2px;
	line-height: 1.5;
}
.proveedor{
/*	font-family: 'Roboto Slab',serif; */
	font-weight: 300;
}
.selected{
	background-color:#00A352;
	border-radius: 5px; 
}
.selected a{
	color: #CAF4E0;
}
#tam{
	max-width: 200px;
	max-height: 200px;
	display:block;
	margin:0 auto 0 auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 480px){
	header{
		padding: 0;
	    width: 100%;
	    height: 300px;
	    position: static;
	}
	
	h1{
		margin-top: 0;
		font-size: 25px;
	}
	h1 a{
		font-size: 40px;
	}
	body{
		padding: 0;
	}
	#div_logo{
		padding-top: 2em;
		width: 40%;
	}
	#div_logo figure{
		padding-top: 1em;
	}
	#div_menu{
		padding-top: 2em;
		display: block;
		height: 200px;
	}
	#div_social{
		font-size: 30px;
		text-align: center;
		margin-top: 1em;
		padding:0;
	}
	#contenido article{
		padding: 1.5em;
	}
	#contenido article p{
		font-size: 20px;
		text-align: center;
	}
	#noticias, #noticias .slider, #noticias .shadow{
		max-width: 100%;
		margin-top:0;
	}
	.slider img{
		max-height: 500px;
	}
}
@media screen and (max-width : 1000px) and (min-width : 600px){
	body{
		padding:0; 
	}
	header{
		padding: 0;
	    width: 100%;
	    height: 200px;
	    position: static;
	}
	header li a{
		font-size: 22px;
	}
	h1{
		margin: 0;
		padding: 0;
	}
	h1 a{
		font-size: 50px;
	}
	#div_logo{
		padding: 1em;
		width: 40%;
	}
	#div_logo figure img{
		padding-top: 1em;
	}
	#contenido article{
		padding: 1em;
	}
	#contenido article p{
		font-size: 24px;
		text-align: center;
	}
	#noticias, #noticias .slider{
		max-width: 100%;
		margin-top:0;
	}
	.slider img{
		max-width: 100%;
		max-height: auto;
	}
} 
#colorson{
	background-image: url(../img/parallax/texture04.jpg);
} 
<<<<<<< HEAD
.slider{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
	background-image: url(../img/slider/load.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.slider img{
	width: 100%;
	display: none;
}
=======
>>>>>>> origin/master